<li id="post-<%= post._id%>">
        <p>
                <% if(locals.user && locals.user.id == post.user.id) {%>
                        <small>
                                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
                        </small>
                <%}%>
                <%= post.content %>
                <br>
                By <%=post.user.name %>
        </p>
        <div class="comment-post">
                <% if(locals.user){%>
                        <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Comment here">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add Comment">
                                </form>
                <%}%>
                <div class="comment-list-post">
                        <ul id="comment-post-<%= post._id %>">
                                <% for (comment of post.comments) {%>
                                        <%- include('_comment') -%>
                                <%}%>
                        </ul>
                </div>
         </div>
</li>